.card {
  @apply flex flex-col items-center cursor-pointer shadow-md;

  .cardBody {
    @apply bg-gray-400 bg-center bg-cover border rounded-lg;
    height: 300px;
    width: 200px;
    &.large {
      width: 350px;
      height: 525px;
    }
    &.small {
      width: 150px;
      height: 225px;
    }

    &.hover {
      &:hover {
        transform: scale(1.025);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
        transition: all 250ms ease;
      }
    }
  }

  p.movieTitle {
    @apply max-h-10 overflow-hidden overflow-ellipsis text-xl font-bold whitespace-nowrap mx-4 mt-2;
    max-width: 130px;
  }

  p.releaseDate {
    @apply mx-4;
  }
}
