.container {
  @apply fixed top-0 left-0 z-10 w-full h-screen bg-opacity-75 bg-black backdrop-filter backdrop-blur-xl  flex items-center justify-center overflow-hidden;

  .card {
    height: 80%;
    width: 80%;
    @apply relative bg-gray-50 p-4 rounded-3xl bg-cover bg-center bg-no-repeat;

    &::before {
      content: "";
      pointer-events: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 2rem rgba(255, 255, 255, 0.2);
      @apply absolute top-0 left-0 bg-black bg-opacity-80 p-4  z-10 w-full h-full rounded-3xl;
    }
    .icon {
      @apply absolute top-4 right-4 text-xl text-gray-100  p-2 cursor-pointer z-10;
    }
    .cardBody {
      @apply absolute top-0 left-0 z-10 w-full h-full;
    }
  }
}
